<div class="business-unit-details-table">
    <h2 class="business-unit-details-table__title main-table-title">Job Position Details</h2>

    <nz-table 
        class="business-unit-details-table__table main-table" 
        #filterTable
        [nzData]="jobPositions" 
        [nzShowPagination]="false"
        [nzScroll]="{ x: '2100px' }"
    >
        <thead class="main-table__head">
            <tr>
                <th 
                    *ngFor="let tableColumn of listOfJobPositionsTableColumns; let i = index"
                    [nzAlign]="i < 1 ? 'left' : 'center'"
                    [(nzSortOrder)]="tableColumn.sortOrder"
                    [nzSortFn]="tableColumn.sortFn"
                    [nzFilters]="tableColumn.listOfFilter"
                    [nzFilterFn]="tableColumn.filterFn"
                    [nzShowFilter]="i < 5 || i === 8"
                 >
                    {{ tableColumn.name }}
                </th>
            </tr>
        </thead>
        <tbody class="main-table__body">
            <tr 
                *ngFor="let data of filterTable.data; index as i"
                [class]="i === selectedIndexOfRow
                    ? 'business-unit-details-table__row business-unit-details-table__row--active'
                    : 'business-unit-details-table__row'" 
                (mouseenter)="openActionsMenu(i)" 
                (mouseleave)="hideActionsMenu()"
            >
                <td nzAlign="left">{{ data.status }}</td>
                <td nzAlign="center">{{ data.id_job }}</td>
                <td nzAlign="left">{{ data.job_position }}</td>
                <td nzAlign="center">{{ data.people }}</td>
                <td nzAlign="center">{{ data.GCL }}</td>
                <td nzAlign="center">{{ data.contrat }}</td>
                <td nzAlign="center">{{ data.funded }}</td>
                <td nzAlign="center">{{ data.actual_cost ? (data.actual_cost | pasteCurrencySymbolAndSpaces) : '' }}</td>
                <td nzAlign="center">{{ data.AOP_cost ? (data.AOP_cost | pasteCurrencySymbolAndSpaces) : '' }}</td>
                <td nzAlign="center"
                    [class]="data.cost_variance && data.cost_variance > 0 ? 'main-table__td--table-value-gt-0' : 'main-table__td--table-value-lt-0'"
                >
                    {{ data.cost_variance 
                        ? data.cost_variance > 0 
                            ? '+ ' + (data.cost_variance | pasteCurrencySymbolAndSpaces) 
                            : '- ' + ((data.cost_variance * -1) | pasteCurrencySymbolAndSpaces)
                        : "" 
                    }}
                </td>
                <td nzAlign="center">{{ data.actual_HC }}</td>
                <td nzAlign="center">{{ data.AOP_HC }}</td>
                <td nzAlign="center"
                    [class]="data.HC_variance > 0 ? 'main-table__td--table-value-gt-0' : 'main-table__td--table-value-lt-0'"
                >
                    {{ data.HC_variance > 0 ? '+ ' + data.HC_variance : '- ' + (data.HC_variance * -1) }}
                </td>

                <td nzAlign="center">
                    <span class="actions-menu">
                        <a [routerLink]="['job-position-details/', data.id_job]">
                            <i nz-icon nzType="eye" nzTheme="outline"></i>
                        </a>
                        <i nz-icon nzType="block" nzTheme="outline"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="business-unit-details-table__pagination">
        <nz-pagination 
            [nzPageIndex]="1" 
            [nzTotal]="3" 
            nzShowSizeChanger 
            [nzPageSize]="10"
        >
        </nz-pagination>
    </div>

</div>