.job-position-table {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 15px;

    &__title {
        margin-bottom: 15px;
    }

    &__pagination {
        padding: 10px 15px;
        display: flex;
        justify-content: flex-end;
        border: 2px solid #F0F0F0;
        border-top: none;
    }
}
