<div class="search-form">
    <div class="search-form__col">
        <label class="search-form__label">
            <span class="main-input-label">Period</span>
            <nz-range-picker class="search-form__datepicker"></nz-range-picker>
        </label>
        <label class="search-form__label">
            <span class="main-input-label">Period</span>
            <nz-select class="search-form__form-control" nzPlaceHolder="Select reference">
                <nz-option nzValue="AOP" nzLabel="AOP"></nz-option>
                <nz-option nzValue="value 2" nzLabel="value 2"></nz-option>
            </nz-select>
        </label>
    </div>
    
    <div class="search-form__col">
        <button 
            class="search-form__btn" 
            nz-button 
            nzType="primary"
            (click)="showModalForMerge()"
        >
            Merge to AOP Position
        </button>

        <button 
            class="search-form__btn" 
            nz-button 
            nzType="primary"
        >
            Explain Variance
        </button>
    </div>
</div>

<app-modal-for-merge 
    [isVisible]="modalForMergeIsVisible"
    [idOfCurrentMergingPosition]="jobPositionIdForMerge"
    (modalForMergeWasClosed)="closeModalForMerge()"
></app-modal-for-merge>