.search-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;

    &__col {
        display: flex;
    }

    &__label {
        display: flex;
        flex-direction: column;
        margin-right: 8px;
    }

    &__btn {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__form-control {
        width: 200px;
    }

    &__datepicker {
        width: 250px;
    }
}