.main-modal-window-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-blue);
}

.ant-modal-close-icon>svg {
    width: 20px;
    height: 20px;
    fill: #A6A6A6;
}